@import "tailwindcss";

@theme {
  --animate-logoDrop: logoDrop 1s ease-in-out 0.3s forwards;

  @keyframes logoDrop {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(12deg);
    }
    100% {
      transform: rotate(6deg);
    }
  }
}
